<html> 
    <body>
        <h1 style="color:darkblue"> Hello! Wouaw this color sucks.</h1>
        <h2 style="color:crimson"> Welcome again to my shitty website </h2>
   	<h3> Two choices from now </h3>
       <a href="/meow" style="text-decoration:none"> <button> Take a glimpse </button> </a>
       <a href="/subscribe" style="text-decoration:none"> <button> Subscribe </button>       
    </body>
</html>
