<html>
    <head>
        <title> Subscribe </title>
    </head>
    <h3> Signin to an awesome newsletter </h3>
    <body>
        <form method="POST" action="/newuser">
            Email: <input type="email" id="email" name="email" /><br> </br>
            Frequency: <input type="number" id="frequency" name="frequency" placeholder="In days" /><br> </br>
            <input type="submit" value="submit" />
        </form>
    </body>

</html>